<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= @todo_list.title %></h2>
<p class="todo_list_sub_title"><%= @todo_list.description %></p>

<div id="todo_items_wrapper">
	<% @todo_list.todo_items.each do |item| %>
	<div id="form">
		 <%= item.content %>
		<%= button_to "Delete", todo_list_todo_item_path(@todo_list, item), method: "delete" %>
	</div>
	<% end %>
	<%= render partial: 'todo_items/form', locals: {todo_item: TodoItem.new(todo_list_id: params[:todo_list_id])} %>  
</div>


<div class="links">
	<%= button_to 'Edit', edit_todo_list_path(@todo_list), method: :get %> 
	<%= button_to 'Delete', todo_list_path(@todo_list), method: :delete %>
  	<%= button_to 'Back', todo_lists_path, method: :get%>
</div>