<h1> Sign up</h1>

<!-- <form action="/signup" method="POST>

    <imput type="submit" value="Signup" />

    </form> -->

<%= form_tag("/signup") do %>
    <div class="links">
        <%= label_tag "Email" %>
        <%= text_field_tag :"user[email]",'', :class => "new todo", :placeholder => "Signup with your email" %>
        <%= label_tag "Password" %>
        <%= password_field_tag :"user[password]" %>
        
    </div>
    <div class="links">
        <%= submit_tag "Sign up"%>
        <p> <%= button_to "Home", root_path %> </p>
    <div>
    <% end %>